<!DOCTYPE html>
<html lang="zh-cn" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <link rel="stylesheet" href="/lib/css/bootstrap.css">
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
<div class="login-box">
    <form action="/security/login" method="post">
        <div class="login-title">登录</div>
        <div class="form-group">
            <input class="form-control" type="text" name="username" placeholder="用户名">
        </div>
        <div class="form-group">
            <input class="form-control" type="password" name="password" placeholder="密码">
        </div>
        <div class="login-btn-box">
            <a class="btn btn-info login-btn" th:href="@{/visitor/index}">返回主页</a>
            <button class="btn btn-primary login-btn" type="submit">登录</button>
            <a class="btn btn-warning login-btn" th:href="@{/security/register}">立即注册</a>
        </div>
    </form>
</div>
</body>
</html>